html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

strong {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

*:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --button-click: #969492;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

body {
  background: var(--background) no-repeat center fixed;
  font-family: "Poppins", sans-serif;
  padding-top: 5rem;
  color: var(--title);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.main-arrow {
  max-width: 87px;
  max-height: 62px;
}

h1 {
  color: var(--title);
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}

#button-desc {
  color: var(--subtitle);
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

button {
  background-color: var(--bg-button);
  color: #000000;
  padding: 1rem;
  font-weight: bolder;
  font-size: medium;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
}
button span {
  padding: 0.5rem;
}

button:active {
  background-color: var(--button-click);
}

#movieDisplay {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  gap: 1rem;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  #movieDisplay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #movieDisplay img {
    width: 100%;
  }
}
#movieDisplay img {
  height: 10rem;
  grid-column: 1;
  grid-row: 1/span 2;
  padding-right: 2rem;
}
#movieDisplay h2 {
  grid-column: 2;
  font-weight: bold;
}
#movieDisplay p {
  grid-column: 2;
  line-height: 1.25rem;
  font-weight: lighter;
}